.container-home{
	width: 100%;
	height: 100vh;
	margin: auto;
	overflow: hidden;
}

.container-home .content{
	color: #fff;
	display: flex;
	width: 80%;
	margin: auto;
}

.container-home .content h1{
	font-size: 4rem;
}

.content_image img{
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, .4));
}

@media only screen and (max-width:900px){

	.container-home .content{display: block;}
	.container-home .container-nav{
		position: sticky;
		top: 0;
		height: 140px;
	}
	.container-home .isNotUser_nav{height: auto;}

	.container-home .content h1{font-size: 2.6rem;}
	.subtitle-home,.content_image img{width: 100%;}
	.subtitle-home h2{font-size: 1.4rem;}
}